body{
    margin: 0;
    padding: 0;
}

h1,h3{
    font-weight: bold;
}

h1{
    font-size: 51px;
    margin: 3rem auto 2rem;
}

.contactUs h3 button{
    font-weight: bold;
    background: none;
    border: none;
    margin: 0 0.5rem;
    cursor: pointer;
    outline: none;
}

.contactUs h3 button:first-child{
    color: #FFC107;
}

.contactUs h3 button:last-child{
    color: #28A745;
}

.contactUs .content{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.5rem 0;
}

.contactUs #mailUs{
    width: 50%;
}

.contactUs #mailUs form label{
    font-size: 20px;
    padding-left: 0.5%;
} 

@media (max-width:1230px){
    .contactUs #mailUs{
        width: 60%;
    }
}
@media (max-width:991px){

    h1{font-size: 42px;}
    h3{font-size: 24px;}

    .contactUs #mailUs form label {font-size: 17px;}
    .contactUs #mailUs .form-control{font-size: 15px;}
    .contactUs #mailUs{
        width: 70%;
    }
}
@media (max-width:755px){

    h1{font-size: 36px;}
    h3{font-size: 24px;}

    .contactUs #mailUs form label {font-size: 16px;}
    .contactUs #mailUs form .form-control{font-size: 14px;}
    .contactUs #mailUs form button{font-size: 13px; padding: 4.5px 9px;}

    
    .contactUs #mailUs{
        width: 80%;
    }
}

@media (max-width:650px){
    .contactUs #mailUs{
        width: 100%;
    }
}

@media (max-width:500px){

    h1{font-size: 28px;}
    h3{font-size: 16px;}

    .contactUs #mailUs form label {font-size: 13px;}
    .contactUs #mailUs form .form-control{font-size: 11px;}
    .contactUs #mailUs form button{font-size: 11px; padding: 4px 7px;}

    .contactUs #mailUs{
        padding: 0px 0px !important;
    }
}