@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
body{
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
}

.enroll{
    position: relative;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: unset;
}
.enroll-form{
    width: 75%;
    height: 100%;
    float: left;
    background-color: #000;
    color: #fff;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
.enroll-form form{
    width: 45%;
    margin-left: 20%;
}
.enroll-form input, .enroll-form textarea {
    display: block;
    width: calc(100% - 1.5rem);
    padding: 0.7rem 0.75rem 0.375rem;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    border-radius: 0px;
    color: #fff;
    letter-spacing: 1.5px;
    word-spacing: 5px;
}
.enroll-form input:focus, 
    .enroll-form textarea:focus, 
            .enroll-form button:focus{
                outline: none;
}
.enroll-form label{
    letter-spacing: 1.5px;
    word-spacing: 5px;
}
.enroll-form button{
    padding: 8px 18px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 1.5px;
    word-spacing: 3px;
}
.enroll-form .form-group{
    margin-bottom: 40px;
}
.enroll-form form h2{
    margin: 0rem 0rem 4rem;
    letter-spacing: 1px;
    word-spacing: 5px;
    font-weight: 800;
}
.enroll img{
    position: absolute;
    left: 75%;
    transform: translateX(-50%);
    overflow: hidden;
    width: 400px;
    height: 600px;
    object-fit: cover;
}@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
body{
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
}

.enroll{
    position: relative;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: unset;
}
.enroll-form{
    width: 75%;
    height: 100%;
    float: left;
    background-color: #000;
    color: #fff;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
.enroll-form form{
    width: 45%;
    margin-left: 20%;
}
.enroll-form input, .enroll-form textarea {
    display: block;
    width: calc(100% - 1.5rem);
    padding: 0.7rem 0.75rem 0.375rem;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    border-radius: 0px;
    color: #fff;
    letter-spacing: 1.5px;
    word-spacing: 5px;
}
.enroll-form input:focus, 
    .enroll-form textarea:focus, 
            .enroll-form button:focus{
                outline: none;
}
.enroll-form label{
    letter-spacing: 1.5px;
    word-spacing: 5px;
}
.enroll-form button{
    padding: 8px 18px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 1.5px;
    word-spacing: 3px;
}
.enroll-form .form-group{
    margin-bottom: 40px;
}
.enroll-form form h2{
    margin: 0rem 0rem 4rem;
    letter-spacing: 1px;
    word-spacing: 5px;
    font-weight: 800;
}
.enroll img{
    position: absolute;
    left: 75%;
    transform: translateX(-50%);
    overflow: hidden;
    width: 400px;
    height: 600px;
    object-fit: cover;
}@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
body{
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
}

.enroll{
    position: relative;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: unset;
}
.enroll-form{
    width: 75%;
    height: 100%;
    float: left;
    background-color: #000;
    color: #fff;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
.enroll-form form{
    width: 45%;
    margin-left: 20%;
}
.enroll-form input, .enroll-form textarea {
    display: block;
    width: calc(100% - 1.5rem);
    padding: 0.7rem 0.75rem 0.375rem;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    border-radius: 0px;
    color: #fff;
    letter-spacing: 1.5px;
    word-spacing: 5px;
}
.enroll-form input:focus, 
    .enroll-form textarea:focus, 
            .enroll-form button:focus{
                outline: none;
}
.enroll-form label{
    letter-spacing: 1.5px;
    word-spacing: 5px;
}
.enroll-form button{
    padding: 8px 18px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 1.5px;
    word-spacing: 3px;
}
.enroll-form .form-group{
    margin-bottom: 40px;
}
.enroll-form form h2{
    margin: 0rem 0rem 4rem;
    letter-spacing: 1px;
    word-spacing: 5px;
    font-weight: 800;
}
.enroll img{
    position: absolute;
    left: 75%;
    transform: translateX(-50%);
    overflow: hidden;
    width: 400px;
    height: 600px;
    object-fit: cover;
}